@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

header {
  position: fixed;
  background: rgba(255, 255, 255, .1);
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  transition: .5s ease;
}

header.sticky {
  background: #86a3b8;
  padding: 10px 100px;
}

header .brand {
  color: #00235b;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

header .navigation {
  position: relative;
}

header .navigation a {
  color: #00235b;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
  transition: .5s ease;
}

header .navigation a:hover {
  color: #666;
}

section {
  padding: 100px;
}

.main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(/images/work9.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.main .content {
  max-width: 800px;
}

.main .content h1 {
  color: #00235b;
  font-size: 36px;
  font-weight: 500;
}

.main .content h1 span {
  font-size: 60px;
  font-weight: 600;
}


/*section*/


.about .content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.about .content .col-left {
  position: relative;
  width: 45%;
}

.about .content .col-right {
  position: relative;
  width: 45%;
}

.about .content .img-card {
  position: relative;
  width: 100%;
  min-height: 450px;
}

.about .content .img-card img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.about .content-title {
  font-size: 26px;
  font-weight: 800;
  margin-bottom: 20px;
}

/*footer*/


.footer {
  background: #000016;
  color: #fff;
  text-align: center;
  padding: 34px;
}

.footer .footer-title {
  font-size: 20px;
  font-weight: 600;
}

.footer p {
  margin-top: 10px;
}

@media (max-width: 1049px) {
  header {
    padding: 12px 20px;
  }

  header.sticky {
    padding: 10px 20px;
  }

  header .navigation {
    display: none;
  }

  header .navigation.active {
    z-index: 888;
    position: fixed;
    background: #fffefe;
    top: 0;
    right: 0;
    width: 380px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 25px rgba(1 1 1 /15%);
    transition: .3s ease;
  }

  header .navigation a {
    color: #000;
    font-size: 22px;
    margin: 10px;
    padding: 0 20px;
    border-radius: 20px;
  }

  header .navigation a:hover {
    background: rgb(220, 20, 60);
    color: #fff;
  }

  .menu-btn {
    position: absolute;
    background: url(/images/menu.png) no-repeat;
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    right: 0;
    margin: 0 20px;
    cursor: pointer;
    transition: .4s ease;
  }

  .menu-btn.active {
    z-index: 999;
    background: url(/images/close.png) no-repeat;
    background-size: 25px;
    background-position: center;
    transition: .3s ease;
    filter: invert(1);
  }

  section {
    padding: 80px 20px;
  }

  .main .content h2 {
    font-size: 25px;
  }

  .main .content h3 {
    font-size: 35px;
  }

  .section-title {
    font-size: 36px;
  }

  .about .content {
    flex-direction: column;
  }

  .about .content .column {
    position: relative;
    width: 100%;
  }

  .about .content .col-right {
    margin-top: 40px;
  }

  .skills .content {
    flex-direction: column;
  }

  .skills .content .column {
    position: relative;
    width: 100%;
  }

  .skills .content .col-right {
    margin-top: 40px;
  }

  .contact-form {
    padding: 35px 40px;
  }
}

.scrollToTop-btn {
  z-index: 999;
  position: fixed;
  background: crimson;
  color: #fff;
  width: 45px;
  height: 45px;
  right: 0;
  bottom: 10px;
  font-size: 22px;
  text-align: center;
  line-height: 45px;
  border-radius: 3px;
  cursor: pointer;
  opacity: 0;
  transition: all .3s ease;
}

.scrollToTop-btn.active {
  right: 20px;
  opacity: 1;
}

.reveal {
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition: all 1.3s ease
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}